In [4]:
import os

# Data manipulation
import pandas as pd

# Database imports
import sqlalchemy
import psycopg2

# Remove the limit of characters in each
# column cell display
pd.options.display.max_colwidth = None

In [5]:
# Set the directory of the notebook as the working directory
os.chdir(os.getcwd())

# Path for the file
path_file = os.getcwd() + '/survey_results_public.csv'

survey = pd.read_csv(path_file)
survey.head(1)

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or software engineering",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27

In [3]:
# Create the engine and connect to the database
# engine = sqlalchemy.create_engine("postgresql+psycopg2://user:password@host:port/dbname")
try:
    engine = sqlalchemy.create_engine("postgresql+psycopg2://dap:dap@192.168.56.30:5432/postgres")
    dbconn = engine.connect()
except: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

# Check for existing tables in the database
print(f'Database tables: {engine.table_names()}')

Database tables: ['stack_overflow_survey_2020', 'clean_stack_overflow_survey_2020']

In [4]:
# Execute queries using the connection
# engine.execute("SQL query")
# engine.execute("DROP TABLE stack_overflow_survey_2020")

In [5]:
# Set the table name
table = 'stack_overflow_survey_2020'

# Write the dataframe to the database as a table
try:
    survey.to_sql(table, dbconn, if_exists = 'fail', index = False)
    print(f'Database tables: {engine.table_names()}')
except ValueError as e:
    print('Table already exists')
except Exception as exc:
    print(exc)
else:
    print(f'Table {table} was created with success.')
finally:
    dbconn.close()

Table already exists